<div class="container-fluid main">
    <div class="top">
        <div>
            <h1>My Skills</h1>
        </div>
        <div>
            <span>Here all the skills in which I have an experienced and have strong hand</span>
        </div>
    </div>
    <div class="skills">
        <div class="skills-div row">
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/angular.png"
                    class="image"
                    >
                </div>
                
            </div >
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/git.png"
                        class="image"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/javascript.png"
                        class="image"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/mongodb.png"
                        class="image"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/node.png"
                        class="image"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/react.png"
                        class="image"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="img-div">
                    <img src="../../../assets/skills/sql.png"
                        class="image"
                    >
                </div>
            </div>
            
        </div>

    </div>
</div>
