.company-img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}
.align-center{
    text-align: center;
}
// .mat-button-wrapper{
//     font-weight: bold !important;
//     font-size: large !important;
// }