

*{
  box-sizing: border-box;
}
.main{
 
  // background-color : #F7F7F7;
  background-image: url('../../../assets/background/laptop.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.first-row{
  margin : 50px 0;
  text-align: center;
  color: white;
  h1{
    font-weight: bold;
    text-decoration: underline;
  }
  span{
    line-height: 2;
  }
}
.project-card{
  // background-color: #F7F7F7;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 50px;
  transition : transform .2s;
  transition-timing-function: ease-in;
  &:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
  }
  height: 400px;
}
.project-name{

  text-align: center;
  
  label{
    font-weight: bold;
    font-size: larger;
  }
}

  

.image-div{

  .main-image{
    height: 160px;
  }
}
.heading{
  text-align: center;
}
.mat-card-header-text{
  width: 100%;
}
.heading label {
  font-size: smaller;
}

ul{
  padding: 0;
}
