<div class="main container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row to-center" >
                <div class="col-md-4">
                </div>
                <div class="col-md-4 img-div">
                    <img
                        src="../../assets/dp.jpg"
                        class="my-photo"
                    >
                    <div class="row mt-2">
                        <div class="col-12">
                            <!--
                            <h4 style="color: white;" 
                            [typedText]="'Akash Bawa'" 
                            [pace]="500" [delay]="2000">
                            </h4>
                            -->
                            <h2 class="myname" #name></h2>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>