.main {
    height: 100vh;
    margin-top: -65px;
    background-image: url("../../assets/back2.jfif");
    background-position: center;
    background-size: cover;
}

.my-photo{
    height: 170px;
    width: 220px;
    border-radius: 50%;
    border: 4px solid grey;
}
.to-center{
    margin-top: 25%;
}


@media screen and (max-width : 767px){
    .to-center {
        margin-top: 50%
    }
}


.img-div{
    text-align: center;
}