<div class="main container-fluid">
    <div class="row">
        <div class="col-12">
            
            <!-- <div class="row to-center">
                
                <div class="col img-div"
                    data-aos="fade-up"
                    data-aos-once="true"
                >
                    <img
                        src="../../assets/dp.jpg"
                        class="my-photo"
                    >
                    <div class="row mt-2">
                        <div class="col-12">
                            <h2 class="myname" #name></h2>
                        </div>
                    </div>
                </div>
            </div>   
            -->
        
            <div class="row">
                <div class="col-md-6 col-lg-4 photo-div align-center">
                    <img
                    src="../../assets/dp.jpg"
                    class="my-photo"
                    >
                </div>
                <div class="col-md-6 name-div " >
                    <div class="row">
                        <div class="col-12 align-center">
                            <h1 class="myname" #name></h1>
                        </div>
                        <div class="col-12 mt-4">
                            <span class="about-me" #aboutme></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>