.container-fluid {
  background : linear-gradient(#d9a7c7, #fffcdc);
}

.background-white{
  background-color: white;
  border-radius: 15px;;
}
.ability-div{
  padding: 5px 25px;
  label {
    margin: auto;
  }
}
